<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trip Konash</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link rel="stylesheet" href="https://fonts.bunny.net/css2?family=Nunito:wght@500;600;700&display=swap" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./style.css" />
    <style type="text/tailwindcss">
      @layer components {
        .form-label {
          @apply block text-sm font-medium text-gray-900 dark:text-white;
        }

        .form-control {
          @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
        }

        .form-check {
          @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
        }

        .form-select {
          @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
        }

        .button {
          @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
        }
      }
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  </head>
  <body>
    <div id="app" class="py-20">
      <h1 class="text-3xl text-center font-semibold text-blue-700 underline">
        <i class="fa fa-book me-5"></i>
        <span>Trip Konash</span>
      </h1>
      <div class="h-screen flex flex-col md:flex-row md:justify-between md:px-[100px] mt-20">
        <div id="transaction-add" class="px-10 border-r border-1">
          <form @submit.prevent="handleSubmit" class="min-w-[300px] md:min-w-[500px]">
            <h1 class="text-3xl text-center font-semibold text-blue-700 mb-10 underline">
              <i class="fa fa-file-circle-plus me-5"></i>
              <span>Add new transaction</span>
            </h1>
            <div class="mb-5">
              <label class="form-label mb-2">Enter the product or service bought</label>
              <input
                class="form-control"
                placeholder="Enter the product or service bought"
                v-model="form.title"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label mb-4"
                >Specify the members that paid for this transaction ({{formatMoney(paymentsTotal(this.form))}})</label
              >
              <fieldset>
                <div v-for="(member, index) in settings.members" key="index" class="flex items-center mb-4">
                  <input
                    @change="toggleFormPaymentForMember(member)"
                    :checked="paymentForMemberInForm(member)"
                    :id="`payment-${member}-checkbox`"
                    type="checkbox"
                    class="form-check"
                  />
                  <label :for="`payment-${member}-checkbox`" class="form-label flex-shrink-0 ms-3"> {{member}} </label>
                  <input
                    v-if="paymentForMemberInForm(member)"
                    v-model="form.payments[member]"
                    type="number"
                    class="form-control max-w-96 ms-5"
                    placeholder="Payment"
                    min="0"
                    step="any"
                    required
                  />
                </div>
              </fieldset>
            </div>
            <div v-if="paymentsTotal(form) > 0" class="mb-3">
              <label class="form-label mb-4"
                >Specify the members that consumed in this transaction
                ({{formatMoney(consumptionsTotal(this.form))}})</label
              >
              <fieldset>
                <div v-for="(member, index) in settings.members" key="index" class="flex items-center mb-4">
                  <input
                    @change="toggleFormConsumptionForMember(member)"
                    :checked="consumptionForMemberInForm(member)"
                    :id="`consumption-${member}-checkbox`"
                    type="checkbox"
                    class="form-check"
                  />
                  <label :for="`consumption-${member}-checkbox`" class="form-label flex-shrink-0 ms-3">
                    {{member}}
                  </label>
                  <input
                    v-if="consumptionForMemberInForm(member)"
                    v-model="form.consumptions[member]"
                    type="number"
                    class="form-control max-w-96 ms-5"
                    placeholder="Consumption"
                    min="0"
                    step="any"
                    required
                  />
                </div>
              </fieldset>
            </div>
            <button type="submit" class="button">
              <i class="fa fa-file-circle-plus me-2"></i>
              Add to Konash
            </button>
          </form>
        </div>
        <div id="transaction-list" class="px-10 flex flex-col gap-5 mb-[500px]">
          <h1 class="text-3xl text-center font-semibold text-blue-700 mb-10 underline">
            <i class="fa fa-credit-card me-5"></i>
            <span>Transactions</span>
          </h1>
          <div
            v-for="(transaction, index) in transactions"
            :key="index"
            id="transaction-item"
            class="rounded border shadow border-1 px-5 py-5"
          >
            <h3 class="text-lg font-semibold underline text-blue-700 text-center">
              {{transaction.title}} ({{formatMoney(paymentsTotal(transaction))}})
            </h3>
            <h3 class="text-md font-semibold mt-5">
              <span class="text-blue-700">Paying members</span>
            </h3>
            <h4 v-for="(payment, member) in transaction.payments" class="text-sm font-semibold mt-5">
              <span class="text-gray-700">{{member}} ({{formatMoney(payment)}})</span>
            </h4>
            <h3 class="text-md font-semibold mt-5">
              <span class="text-blue-700">Consuming members</span>
            </h3>
            <h4 v-for="(consumptions, member) in transaction.consumptions" class="text-sm font-semibold mt-5">
              <span class="text-gray-700">{{member}} ({{formatMoney(consumptions)}})</span>
            </h4>
          </div>
        </div>
        <div id="balance-list" class="px-10 flex flex-col gap-5 mb-[500px]">
          <h1 class="text-3xl text-center font-semibold text-blue-700 mb-10 underline">
            <i class="fa fa-dollar-sign me-5"></i>
            <span>Balances</span>
          </h1>
          <div v-for="(balance, member) in balances" id="balance-item" class="rounded border shadow border-1 px-5 py-5">
            <h3 class="text-lg font-semibold underline text-blue-700 text-center">{{member}}</h3>
            <h3 class="text-md font-semibold mt-5">
              <span class="text-blue-700">Total payments : </span>
              <span class="text-gray-700">{{formatMoney(balance.payments)}}</span>
            </h3>
            <h3 class="text-md font-semibold mt-5">
              <span class="text-blue-700">Total credits : </span>
              <span class="text-gray-700">{{formatMoney(balance.credits)}}</span>
            </h3>
            <h3 class="text-md font-semibold mt-5">
              <span class="text-blue-700">Total debts : </span>
              <span class="text-gray-700">{{formatMoney(balance.debts)}}</span>
            </h3>
            <h3 class="text-md font-semibold mt-5">
              <span class="text-blue-700">Balance : </span>
              <span :class="[balance.balance >= 0 ? 'text-green-500' : 'text-red-500']"
                >{{formatMoney(balance.balance)}}</span
              >
            </h3>
          </div>
        </div>
      </div>
    </div>
    <script src="./script.js"></script>
  </body>
</html>
