<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trip Konash</title>

    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link rel="stylesheet" href="https://fonts.bunny.net/css2?family=Nunito:wght@500;600;700&display=swap" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="./images/favicon/site.webmanifest" />
    <link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="./images/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="./images/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Styles -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./style.css" />
    <style type="text/tailwindcss">
      @layer components {
        .form-label {
          @apply block text-sm font-medium text-gray-900 dark:text-white;
        }

        .form-control {
          @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
        }

        .form-check {
          @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
        }

        .form-select {
          @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
        }

        .button {
          @apply focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
        }

        .button-primary {
          @apply text-white bg-orange-700 hover:bg-orange-700 focus:ring-orange-300;
        }

        .text-primary {
          @apply text-orange-700;
        }

        .text-secondary {
          @apply text-orange-950;
        }
      }
    </style>

    <!-- Javascript -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="flex items-center justify-between px-4 md:px-[100px] 2xl:px-[300px] pt-6 md:pt-10">
        <img class="h-12 md:h-20" src="./images/logo.png" alt="logo" />
        <div class="flex items-center gap-4">
          <button class="button button-primary">
            <i class="fa fa-question-circle md:me-2"></i><span class="hidden md:inline">FAQs</span>
          </button>
          <button class="button button-primary">
            <i class="fa fa-gear md:me-2"></i><span class="hidden md:inline">Settings</span>
          </button>
        </div>
      </div>
      <div class="h-screen pb-20 px-4 md:px-[100px] 2xl:px-[300px]">
        <div class="flex flex-col justify-center items-center mb-8 mt-6 md:mt-2">
          <h1 class="text-3xl font-semibold text-center">
            No more
            <span class="bg-gradient-to-r from-green-500 via-orange-700 to-orange-950 text-transparent bg-clip-text">
              Tripping when about who paid
            </span>
            with Trip Konash
          </h1>
          <figure class="max-w-screen-md mx-auto text-center mt-2">
            <blockquote>
              <p class="text-md italic font-semibold dark:text-white">
                <svg
                  class="w-3 h-3 mb-1 me-2 text-gray-400 dark:text-gray-600 inline"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 18 14"
                >
                  <path
                    d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"
                  /></svg
                >"Have you ever had a trip with your friends and while you're making different transactions in food,
                entertainment, etc.., you suddenly lose track of who paid for who ? well no more tripping when tripping
                with Trip Konash."
              </p>
            </blockquote>
          </figure>
        </div>
        <div class="flex flex-col md:flex-row md:gap-20 justify-center space-y-16 md:space-y-0 mt-20 mb-10">
          <div id="transaction-add" class="md:pe-10 border-r border-1">
            <form @submit.prevent="handleSubmit" class="min-w-[300px] md:min-w-[500px]">
              <h1 class="text-3xl text-center font-semibold text-primary mb-10 underline">
                <i class="fa fa-file-circle-plus me-5"></i>
                <span>Add new transaction</span>
              </h1>
              <div class="mb-5">
                <label class="form-label mb-2">Enter the product or service bought</label>
                <input
                  class="form-control"
                  placeholder="Enter the product or service bought"
                  v-model="form.title"
                  required
                />
              </div>
              <div class="mb-3">
                <label class="form-label mb-4"
                  >Specify the members that paid for this transaction ({{formatMoney(paymentsTotal(this.form))}})</label
                >
                <fieldset>
                  <div v-for="(member, index) in settings.members" key="index" class="flex items-center mb-4">
                    <input
                      @change="toggleFormPaymentForMember(member)"
                      :checked="paymentForMemberInForm(member)"
                      :id="`payment-${member}-checkbox`"
                      type="checkbox"
                      class="form-check"
                    />
                    <label :for="`payment-${member}-checkbox`" class="form-label flex-shrink-0 ms-3">
                      {{member}}
                    </label>
                    <input
                      v-if="paymentForMemberInForm(member)"
                      v-model="form.payments[member]"
                      type="number"
                      class="form-control max-w-96 ms-5"
                      placeholder="Payment"
                      min="0"
                      step="any"
                      required
                    />
                  </div>
                </fieldset>
              </div>
              <div v-if="paymentsTotal(form) > 0" class="mb-3">
                <label class="form-label mb-4"
                  >Specify the members that consumed in this transaction
                  ({{formatMoney(consumptionsTotal(this.form))}})</label
                >
                <fieldset>
                  <div v-for="(member, index) in settings.members" key="index" class="flex items-center mb-4">
                    <input
                      @change="toggleFormConsumptionForMember(member)"
                      :checked="consumptionForMemberInForm(member)"
                      :id="`consumption-${member}-checkbox`"
                      type="checkbox"
                      class="form-check"
                    />
                    <label :for="`consumption-${member}-checkbox`" class="form-label flex-shrink-0 ms-3">
                      {{member}}
                    </label>
                    <input
                      v-if="consumptionForMemberInForm(member)"
                      v-model="form.consumptions[member]"
                      type="number"
                      class="form-control max-w-96 ms-5"
                      placeholder="Consumption"
                      min="0"
                      step="any"
                      required
                    />
                  </div>
                </fieldset>
              </div>
              <button type="submit" class="button button-primary">
                <i class="fa fa-file-circle-plus me-2"></i>
                Add to Konash
              </button>
            </form>
          </div>
          <div>
            <div class="border-b border-gray-200 dark:border-gray-700">
              <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 dark:text-gray-400 mt-0.5">
                <li>
                  <buttton
                    class="inline-flex items-center justify-center p-4 !pt-0 border-b-2 rounded-t-lg group"
                    :class="[transactionsComponentShown ? 'text-primary border-orange-700' : 'border-gray-100 hover:text-gray-600 hover:border-gray-300']"
                    @click="transactionsComponentShown = true"
                  >
                    <i class="fa fa-credit-card me-3"></i>Transactions
                </button>
                </li>
                <li>
                  <button
                    class="inline-flex items-center justify-center p-4 !pt-0 border-b-2 rounded-t-lg group"
                    :class="[!transactionsComponentShown ? 'text-primary border-orange-700' : 'border-gray-100 hover:text-gray-600 hover:border-gray-300']"
                    @click="transactionsComponentShown = false"
                  >
                  <i class="fa fa-dollar-sign me-3"></i>Balances
                </button>
                </li>
              </ul>
            </div>
            <div v-if="transactionsComponentShown" id="transaction-list" class="flex flex-col gap-5 mt-5">
              <div v-if="!transactions.length" class="flex items-center p-4 mb-4 text-sm text-primary font-semibold rounded-lg bg-yellow-50" role="alert">
                <i class="fa fa-credit-card me-3"></i>
                <div>
                  All transactins made will be listed here
                </div>
              </div>
              <div
                v-for="(transaction, index) in transactions"
                :key="index"
                id="transaction-item"
                class="rounded border shadow border-1 px-5 py-5"
              >
                <h3 class="text-lg font-semibold underline text-primary text-center capitalize">
                  {{transaction.title}} ({{formatMoney(paymentsTotal(transaction))}})
                </h3>
                <h3 class="text-md font-semibold mt-5">
                  <span class="text-secondary">Paying members</span>
                </h3>
                <h4 v-for="(payment, member) in transaction.payments" class="text-sm font-semibold mt-5">
                  <span class="text-sm">{{member}} ({{formatMoney(payment)}})</span>
                </h4>
                <h3 class="text-md font-semibold mt-5">
                  <span class="text-secondary">Consuming members</span>
                </h3>
                <h4 v-for="(consumptions, member) in transaction.consumptions" class="text-sm font-semibold mt-5">
                  <span class="text-sm">{{member}} ({{formatMoney(consumptions)}})</span>
                </h4>
              </div>
            </div>
            <div v-else id="balance-list" class="flex flex-col gap-5 mt-5">
              <div
                v-for="(balance, member) in balances"
                id="balance-item"
                class="rounded border shadow border-1 px-5 py-5"
              >
                <h3 class="text-lg font-semibold underline text-primary text-center">{{member}}</h3>
                <h3 class="text-md font-semibold mt-5">
                  <span class="text-secondary">Total payments : </span>
                  <span class="text-gray-700">{{formatMoney(balance.payments)}}</span>
                </h3>
                <h3 class="text-md font-semibold mt-5">
                  <span class="text-secondary">Total credits : </span>
                  <span class="text-gray-700">{{formatMoney(balance.credits)}}</span>
                </h3>
                <h3 class="text-md font-semibold mt-5">
                  <span class="text-secondary">Total debts : </span>
                  <span class="text-gray-700">{{formatMoney(balance.debts)}}</span>
                </h3>
                <h3 class="text-md font-semibold mt-5">
                  <span class="text-secondary">Balance : </span>
                  <span :class="[balance.balance >= 0 ? 'text-green-500' : 'text-red-500']"
                    >{{formatMoney(balance.balance)}}</span
                  >
                </h3>
              </div>
            </div>
          </div>
        </div>
        <footer class="mt-auto py-10">
          <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
          <span class="block text-sm text-center">
            © Made with ❤️ by <a href="https://www.instagram.com/omar_essaouaf/" class="underline">Omar Essaouaf</a>,
            Idea inspired from <a href="https://www.instagram.com/hamidlakrouni/" class="underline">Hamid Lakrouni</a>
          </span>
        </footer>
      </div>
    </div>
    <script src="./script.js"></script>
  </body>
</html>
